.write{
    padding-top: 50px;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    font-family: 'Lora', sans-serif;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 65vh;
    font-family: 'Lora', sans-serif;
}
.writeSubmit{
    font-family: 'Lora', sans-serif;
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.writeSubmit:hover {
    background-color: darkgreen;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}